IngoingConnectionPointRabbitMQ/Connected Services/ESBService/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://esb.axelot.ru" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="service" targetNamespace="http://esb.axelot.ru" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://esb.axelot.ru/Imports">
      <xsd:import schemaLocation="http://sp-esb-adapter6.patio-minsk.by:8091/adapters/kitExchange/send?xsd=xsd0" namespace="http://esb.axelot.ru" />
      <xsd:import schemaLocation="http://sp-esb-adapter6.patio-minsk.by:8091/adapters/kitExchange/send?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://sp-esb-adapter6.patio-minsk.by:8091/adapters/kitExchange/send?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="service_SendMessage_InputMessage">
    <wsdl:part name="parameters" element="tns:SendMessage" />
  </wsdl:message>
  <wsdl:message name="service_SendMessage_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendMessageResponse" />
  </wsdl:message>
  <wsdl:message name="service_SendMessageBatch_InputMessage">
    <wsdl:part name="parameters" element="tns:SendMessageBatch" />
  </wsdl:message>
  <wsdl:message name="service_SendMessageBatch_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendMessageBatchResponse" />
  </wsdl:message>
  <wsdl:message name="service_ExecuteRequest_InputMessage">
    <wsdl:part name="parameters" element="tns:ExecuteRequest" />
  </wsdl:message>
  <wsdl:message name="service_ExecuteRequest_OutputMessage">
    <wsdl:part name="parameters" element="tns:ExecuteRequestResponse" />
  </wsdl:message>
  <wsdl:portType name="service">
    <wsdl:operation name="SendMessage">
      <wsdl:input wsaw:Action="http://esb.axelot.ru/service/SendMessage" message="tns:service_SendMessage_InputMessage" />
      <wsdl:output wsaw:Action="http://esb.axelot.ru/service/SendMessageResponse" message="tns:service_SendMessage_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendMessageBatch">
      <wsdl:input wsaw:Action="http://esb.axelot.ru/service/SendMessageBatch" message="tns:service_SendMessageBatch_InputMessage" />
      <wsdl:output wsaw:Action="http://esb.axelot.ru/service/SendMessageBatchResponse" message="tns:service_SendMessageBatch_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ExecuteRequest">
      <wsdl:input wsaw:Action="http://esb.axelot.ru/service/ExecuteRequest" message="tns:service_ExecuteRequest_InputMessage" />
      <wsdl:output wsaw:Action="http://esb.axelot.ru/service/ExecuteRequestResponse" message="tns:service_ExecuteRequest_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="basicHttp_service" type="tns:service">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SendMessage">
      <soap:operation soapAction="http://esb.axelot.ru/service/SendMessage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendMessageBatch">
      <soap:operation soapAction="http://esb.axelot.ru/service/SendMessageBatch" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExecuteRequest">
      <soap:operation soapAction="http://esb.axelot.ru/service/ExecuteRequest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="service">
    <wsdl:port name="basicHttp_service" binding="tns:basicHttp_service">
      <soap:address location="http://sp-esb-adapter6.patio-minsk.by:8091/adapters/kitExchange/send" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>